  <link rel="stylesheet" href="../css/estilo.css" />
<div class="row">
  {{#each articulos}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
         {{ nombre }} <a href="/articulo/buscar/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>DESCRIPCION : {{ descripcion }} </p>
        <p>MATERIAL : {{ material }} </p>
        <p>CATEGORIA : {{ categoria }} </p>
        <p>PRECIO : {{ precio }} </p>
        <p>STOCK  : {{ stock }} </p>
       <br/>
            <img class="text-center" src="{{imagen}}" widht="200px" height="200px"/>  <br/> <br/> 
        <!-- DELETE REQUEST -->
        <div class="text-center">
<form action="/articulo/eliminar/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">ELIMINAR</button>
        </form>
        </div>
        
      </div>
    </div>
  </div>
  
  {{/each}}
</div>